#category {
  text-align: center;
  max-width: 600px;
  border-radius: 15px;
  width: 80%;
  padding: 40px;
  backdrop-filter: blur(10px);
  padding: 40px;
  color: white;
  height: 100vh;
  margin-top: 6%;
}

#category h2,
#category p {
  margin-bottom: 1rem;
}

#category p {
  color: #39e1ff;
}

#category img {
  margin-top: 2rem;
  max-width: 300px;
}

#category button {
  margin: 1rem;
}
