.fundoMentoria{
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-image:
  radial-gradient(ellipse 100% 100% at -25% 65%, rgba(14, 16, 121, 0.692), transparent 55%),
    radial-gradient(ellipse 100% 100% at 115% -25%, rgba(14, 16, 121, 0.692), transparent 55%),
    radial-gradient(ellipse 100% 100% at 115% 100%, rgba(14, 16, 121, 0.692), transparent 55%),
  linear-gradient(160deg, black);
  z-index: -2;
}