.section {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;

    & .container_formulario {
        position: relative;
        width: 25%;
        height: auto;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        margin: 1% 10% 0px;
        border-radius: 10px;
        padding: 20px;
    }

    & h2 {
        font-weight: 700;
        font-size: 20px;
        font-style: italic;
    }

    & form {
        display: flex;
        flex-direction: column;
        margin-top: 5px;

        & label {
            font-size: 18px;
            font-weight: 600;
            margin-top: 20px;
        }

        & select {
            margin-top: 5px;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #001c41;
        }

        & textarea {
            margin-top: 5px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #001c41;
        }

        & .descricao_label {
            margin-top: 40px;
        }

        & .descricao {
            height: 50px;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #001c41;
        }

        & input {
            width: 180px;
            margin: 0 auto;
            margin-top: 20px;
            height: 35px;
            border-radius: 10px;
            border: none;
            background-color: #001c41;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
        }

        & .form_login {
            text-align: center;
            margin-top: 10px;
            font-size: 16px;
            font-weight: 600;
        }
    }

    & p a {
        font-weight: 800;
    }
}
.posts {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5%;
    overflow-y: auto; 
    padding-bottom: 20px; 

    & .titulo_posts {
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        font-style: italic;
    }

    & .posts_props {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;
    }

    & .comentarios {
        position: relative;
        width: 65%;
        height: auto;
        background-color: #fff;
        margin-top: 30px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
        padding: 10px 5%;
        overflow: visible;

        & .container_com {
            display: flex;
            position: relative;
            width: 100%;

            & p {
                position: absolute;
                right: 0;
                color: #8000ff;
            }
        }

        & .ajuda {
            position: relative;
            width: 25%;
            border-radius: 20px;
            height: 30px;
            background-color: #0048A7;
            text-align: center;
            color: #fff;
            line-height: 28px;
            font-weight: 600;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
            font-size: 14px;
        }

        & .oferta {
            position: relative;
            width: 25%;
            border-radius: 20px;
            height: 30px;
            background-color: #07838B;
            text-align: center;
            color: #fff;
            line-height: 28px;
            font-weight: 600;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
            font-size: 14px;
        }

        & .dev {
            position: relative;
            width: 25%;
            border-radius: 20px;
            height: 30px;
            background-color: #d9d9d9;
            text-align: center;
            color: #000;
            line-height: 28px;
            margin-left: 10px;
            font-weight: 600;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
            font-size: 14px;
        }

        & .resposta {
            position: absolute;
            right: 0;
            bottom: 5px;
            color: #8000ff;
        }
    }

    & .texto_comentarios {
        font-weight: 600;
        font-size: 18px;
        margin-top: 20px;
    }

    & .paragrafo_comentarios {
        margin-top: 5px;
    }

    & .users {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;

        & img {
            width: 50px;
            height: 50px;
            margin-top: 25px;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
        }

        & p {
            font-size: 16px;
            font-weight: 500;
            margin-top: 20px;
        }
    }
}

.imgfundo {
    position: absolute;
    top: 0;
    left: 35%;
    width: 100vw;
    z-index: -1;

    img {
        width: 60%;
    }
}

@media (min-width: 768px) and (max-width: 1076px) {
    .section {
        flex-direction: column;
        align-items: center;
    }

    .section .container_formulario {
        width: 70%;
        height: auto;
        margin: 5% 0;
        padding: 12px;
    }

    .section h2 {
        font-size: 22px;
    }

    .section form label {
        font-size: 14px;
        margin-top: 12px;
    }

    .section form select,
    .section form textarea {
        padding: 5px;
    }

    .section form .descricao {
        height: 100px;
    }

    .section form input {
        width: 130px;
        height: 28px;
        font-size: 12px;
    }

    .section form .form_login {
        font-size: 12px;
        margin-top: 8px;
    }

    .posts {
        width: 70%;
        margin-top: 8%;
        height: auto;
    }

    .posts .titulo_posts {
        font-size: 22px;
    }

    .posts .posts_props {
        gap: 12px;
        flex-wrap: wrap;
    }

    .posts .comentarios {
        width: 100%;
        height: auto;
        padding: 6px 5%;
        margin-top: 20px;
        overflow: visible;

        & .container_com p {
            font-size: 10px;
            right: 0;
        }

        & .resposta {
            font-size: 10px;
            right: 0;
            bottom: 5px;
        }
    }

    .posts .ajuda,
    .posts .oferta,
    .posts .dev {
        width: 25%;
        font-size: 11px;
        height: 22px;
        line-height: 22px;
    }

    .posts .texto_comentarios {
        font-size: 14px;
        margin-top: 12px;
    }

    .posts .paragrafo_comentarios {
        font-size: 12px;
    }

    .posts .users img {
        width: 35px;
        height: 35px;
        margin-top: 15px;
    }

    .posts .users p {
        font-size: 12px;
        margin-top: 12px;
    }
}

@media (max-width: 768px) {
    .section {
        flex-direction: column;
        align-items: center;
    }

    .section .container_formulario {
        width: 90%;
        height: auto;
        margin: 5% 0;
        padding: 10px;
    }

    .section h2 {
        font-size: 20px;
    }

    .section form label {
        font-size: 14px;
        margin-top: 10px;
    }

    .section form select,
    .section form textarea {
        padding: 5px;
    }

    .section form .descricao {
        height: 100px;
    }

    .section form input {
        width: 120px;
        height: 28px;
        font-size: 12px;
    }

    .section form .form_login {
        font-size: 12px;
        margin-top: 8px;
    }

    .posts {
        width: 90%;
        margin-top: 10%;
        height: auto;
    }

    .posts .titulo_posts {
        font-size: 20px;
    }

    .posts .posts_props {
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .posts .comentarios {
        width: 100%;
        height: auto;
        padding: 8px 5%;
        margin-top: 20px;
        overflow: visible;

        & .container_com p {
            font-size: 10px;
            right: 0;
        }

        & .resposta {
            font-size: 10px;
            right: 0;
            bottom: 5px;
        }
    }

    .posts .ajuda,
    .posts .oferta,
    .posts .dev {
        width: 35%;
        font-size: 10px;
        height: 22px;
        line-height: 22px;
    }

    .posts .dev {
        margin-left: 5px;
    }

    .posts .texto_comentarios {
        font-size: 14px;
        margin-top: 10px;
    }

    .posts .paragrafo_comentarios {
        font-size: 12px;
    }

    .posts .users img {
        width: 35px;
        height: 35px;
        margin-top: 15px;
    }

    .posts .users p {
        font-size: 12px;
        margin-top: 10px;
    }
}